.ScrollBody {
    overflow: hidden;

    .wrapper {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: auto;
    }

    .contents {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow: scroll;
        margin-right: 0px;
        margin-bottom: 0px;
    }
}